
<h2 class="heading">Featured</h2>
<div class="Featured">

    <!-- courses card -->
    <div class="complete-card">
        <div class="course-card">
            <p>LeetCode's interview crash course</p>
            <h2>Data Structures And Algorithms</h2>
            <!-- <i style="font-size:24px" class="play">&#xf04b;</i> -->
            <i class="fa-light fa-play fa-xs play"></i>
        </div>
        <div class="course-card-info">
            <div><h3>13</h3><h4>Chapters</h4></div>
            <div>
                <h3>149</h3><h4>items</h4>
            </div>
            <div></div>
        </div>
    </div>

    <!-- courses card -->
    <div class="complete-card">
        <div class="course-card green-background">
            <p>LeetCode's interview crash course</p>
            <h2>System Designs for Interviews and Beyond</h2>
            <!-- <i style="font-size:24px" class="play">&#xf04b;</i> -->
            <i class="fa-light fa-play fa-xs play"></i>
        </div>
        <div class="course-card-info">
            <div><h3>16</h3><h4>Chapters</h4></div>
            <div>
                <h3>81</h3><h4>items</h4>
            </div>
            <div></div>
        </div>
    </div>
    <!-- courses card -->
    <div class="complete-card">
        <div class="course-card yellow-card">
            <!-- <p>LeetCode's interview crash course</p> -->
            <h2>The LeetCode Beginner's Guid</h2>
            <!-- <i style="font-size:24px" class="play">&#xf04b;</i> -->
            <i class="fa-light fa-play fa-xs play"></i>
        </div>
        <div class="course-card-info">
            <div><h3>4</h3><h4>Chapters</h4></div>
            <div>
                <h3>17</h3><h4>items</h4>
            </div>
            <div></div>
        </div>
    </div>
    <!-- courses card -->
    <div class="complete-card">
        <div class="course-card black-card">
            <p>Easy Collection</p>
            <h2>Top Interview Questions</h2>
            <!-- <i style="font-size:24px" class="play">&#xf04b;</i> -->
            <i class="fa-light fa-play fa-xs play"></i>
        </div>
        <div class="course-card-info">
            <div><h3>9</h3><h4>Chapters</h4></div>
            <div>
                <h3>48</h3><h4>items</h4>
            </div>
            <div></div>
        </div>
    </div>
    <!-- courses card -->
    <div class="complete-card">
        <div class="course-card green-card">
            <p>Detailed explaination of</p>
            <h2>Dynamic Programming</h2>
            <!-- <i style="font-size:24px" class="play">&#xf04b;</i> -->
            <i class="fa-light fa-play fa-xs play"></i>
        </div>
        <div class="course-card-info">
            <div><h3>6</h3><h4>Chapters</h4></div>
            <div>
                <h3>55</h3><h4>items</h4>
            </div>
            <div></div>
        </div>
    </div>
    <!-- courses card -->
    <div class="complete-card">
        <div class="course-card blue-card">
            <p>introduction to data structures</p>
            <h2>Arrays 101</h2>
            <!-- <i style="font-size:24px" class="play">&#xf04b;</i> -->
            <i class="fa-light fa-play fa-xs play"></i>
        </div>
        <div class="course-card-info">
            <div><h3>6</h3><h4>Chapters</h4></div>
            <div>
                <h3>31</h3><h4>items</h4>
            </div>
            <div></div>
        </div>
    </div>
    <!-- courses card -->
    <div class="complete-card">
        <div class="course-card light-blue">
            <p>Detailed explaination of</p>
            <h2>Graphs</h2>
            <!-- <i style="font-size:24px" class="play">&#xf04b;</i> -->
            <i class="fa-light fa-play fa-xs play"></i>
        </div>
        <div class="course-card-info">
            <div><h3>16</h3><h4>Chapters</h4></div>
            <div>
                <h3>81 </h3><h4>items</h4>
            </div>
            <div></div>
        </div>
    </div>
</div>